<div>
    <h1>Hola {{ name }}, Bienvenidos a ecomerce server</h1>
</div>
<input type="text" id="textInput">
<div id="mensajes">

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js" ></script>