<div>
    <h1>Todo listo para trabajar con socket</h1>
    <div>
        <input id='chatBox' type="text" name="chatBox">
    </div>
    <div>
        <p id="messageLogs"></p>
    </div>
</div>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js" ></script>